<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 使用spring來創建對象，在Spring這些都稱為Bean 
  
    類型 變量名 = new 類型();
  Hello hello =new Hello();
  id=變量名
  class=new的對象
  property 相當於給對象中的屬性設置一個值
    bean = 對象  new Hello();
  -->
  <bean id="hello" class="com.example.test2.Hello">
    <property name="str" value="Spring"/>
  </bean>

</beans>